.skills_con {
    background-color: royalblue;
    height: 300px;
    text-align: center;
    color: #FFF;
    overflow: hidden;

    & .title {
        margin-top: 40px;
    }

    & .skills_list {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: 70px;
        
        & li {
            margin: 0 20px;

            & svg {
                height: 80px;
                width: 80px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .skills_con {
        height: auto;

        & .skills_list {
            flex-direction: column;
            margin: 50px 0;

            & li{
                margin: 20px 0;
            }
        }
    }
}