.contact_wrapper{
    overflow: hidden;
    height: 500px;
    color: #fff;
    background-color: #0085ff;

    & .contact_con {
        max-width: 1170px;
        display: flex;
        margin: 50px auto 0;
        justify-content: space-between;

        & .contact_info{
            width: 420px;

            & h3{
                font-weight: bold;
                font-size: 32px;
                margin-bottom: 20px;
            }

            & .contact_des, .contact_address{
                margin-bottom: 20px;
            }
        }

        & .contact_form{
            width: 520px;
            
            & label{
                display: block;
                margin: 10px 0;
                font-size: 14px;
            }

            & .input_group{
                display: flex;
                justify-content: space-between;

                & input[type="text"]{
                    width: 250px;
                    height: 40px;
                    padding: 15px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                }
            }

            & input[type="email"]{
                width: 100%;
                height: 40px;
                padding: 15px;
                border-radius: 5px;
                outline: none;
                border: none;
            }

            & textarea{
                width: 100%;
                height: 100px;
                padding: 15px;
                border: none;
                outline: none;
                border-radius: 5px;
            }

            & button{
                border-radius: 5px;
                border: none;
                width: 100px;
                height: 40px;
                background-color: #fff;
                font-size: 14px;
                margin-top: 20px;
                cursor: pointer;
                transition: 0.3s;

                &:hover{
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .contact_wrapper{
        height: auto;
        & .contact_con{
            flex-direction: column;

            & .contact_info, & .contact_form{
                width: 100%;
                padding: 20px;
            }

            & .contact_form{
                & input{
                    width: 100% !important;
                }

                & .input_group{
                    flex-direction: column;
                }
            }
        }
    }
}