.testi_con {
    background-color: #fff;
    height: 500px;
    max-width: 1170px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;

    & .testi_title{
        margin-top: 55px;
    }

    & .testi_list{
        margin-top: 80px;
        justify-content: center;
        display: flex;

        & .testi_items{
            width: 320px;
            margin: 0 30px;

            & img{
                width: 60px;
                height: 60px;
                border-radius: 100%;
                object-fit: cover;
                margin: 20px 0;
            }

            & h4{
                font-size: 14px;
                font-weight: bold;
            }

            & p{
                font-size: 12px;
                color: #757575;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .testi_con{
        height: auto;

        & .testi_list{
            flex-direction: column;

            & .testi_items{
                width: 100%;
                margin: 0;
                padding: 30px;
            }
        }
    }
}